<!-- Start compare Wrapper -->
<div class="comparison-wrapper pb-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <main id="primary" class="site-main">
                    <div class="comparison">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="section-title">
                                    <h3>Product Comparison</h3>
                                </div>
                                <form action="#">
                                    <div class="table-responsive text-center">
                                        <div class="table-wrapper">
                                            <table class="table table-bordered compare-style" id="comparison-table">
{#                                                <thead>#}
{#                                                    <tr>#}
{#                                                        <td style="width: 100%;" colspan="10"><strong>Product Details</strong></td>#}
{#                                                    </tr>#}
{#                                                </thead>#}
                                                <tbody>
                                                    <tr>
                                                        <td class="product-title">Product</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-title">Image</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="product-title">Price</td>
                                                    </tr>
                                                    <tr>
                                                      <td class="product-title">Remove</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end of comparison -->
                </main> <!-- end of #primary -->
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>
