{% extends "@kart/layout/page.html.twig" %}

{% block content %}
  testing
  <div class="content-home">
    <div class="block-region region-content-home">
      {% block home_page_content %}
        {% for brand in brands %}
          {% if loop.index % 3 == 1 %}
          <div id="block-kart-promobanners" class="block">
            <div class="block-content">
              <div class="field field-name-body field-type-text-with-summary field-label-hidden field-item">
                <div class="items">
          {% endif %}

          <div class="banner">
            <div class="banner-image"><img src="/images/banner/banner1.jpg" alt="banner"></div>
            <div class="banner-text">
              <div class="width50">
                <h3>Flat 50% off on Hanging Lights</h3>
                <div><a class="button" href="#">Shop Now</a></div>
              </div>
            </div>
          </div>

          {% if loop.index % 3 == 0 or loop.last %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
